/*CSS初始化样式*/
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form, img {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:link {color: blue}
a:visited {color: blue}
ul, li, ol{
    list-style: none;
}
body{
    background-color: #F6F6F6;
    cursor: default;
}
.clear{
    clear: both;
}
/*登录界面导航栏*/
#nav{
    max-width: 1920px;
    min-width: 1080px;
    height: 80px;
    margin: 0 auto;
}
.nav_main{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}
.nav_left{
    float: left;
    width: 300px;
    height: 80px;
    background-image: url("../image/logo.jpg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: left center;
}
.nav_left>h1{
    font-family: '宋体';
    font-size: 34px;
    color: #5CA02C;
    padding: 28px 0 12px;
    float: left;
    margin-left: 90px;
}
.nav_left>b{
    display: block;
    float: left;
    font-size: 20px;
    font-weight: lighter;
    color: grey;
    padding: 34px 0 6px 12px;
}
/*页尾footer*/
#footer{
    max-width: 1920px;
    min-width: 1080px;
    margin: 0 auto;
    padding-top: 10px;
}
.footer{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}
.footer>ul{
    margin: 20px auto 0;
}
.footer>ul>li{
    float: left;
    font-size: 14px;
    font-weight: lighter;
    margin-right: 25px;
}
.footer>ul>li>a{
    color: #666666;
    font-size: 14px;
    font-weight: lighter;
}
.footer>p{
    margin: 0 auto;
    color: #666666;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
}
